<ul>
    <li>
        <NavLink class="nav-link" href="" Text="Home" Match="NavLinkMatch.All">
            <span class="oi oi-plus" aria-hidden="true"></span>Counter
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-link" href="/new-bug" Text="New Bug">
            <span class="oi oi-plus" aria-hidden="true"></span>Counter
        </NavLink>
    </li>
</ul>
@code {

}
